{{ define "main" -}}

<div class="container-fluid bg-clr1 text-nav text-center pb-3 pt-4 position-relative shadow-sm">
  <div style="height:3.5rem;"></div>
  <h1>{{ .Title }}</h1>
  {{ if .Description -}}
    <p>{{ .Description }}</p>
  {{- end }}
</div>
<div class="container-fluid bg-mat py-3">
  <!-- ranges through each of the content files associated with a particular term and renders the summary.html content view -->
  {{ range .Pages }}
    <div class="card mb-3">
      <div class="card-body">
        <h2>
          <a class="card-title text-reset" href="{{ .Permalink }}"> {{ .Title }}</a>
        </h2>
        <div class="card-text">
          <div class="font-weight-bold small post-meta"> {{ .WordCount }} Words </div>
          <p>{{ .Summary }}</p>
          <a class="font-weight-bold text-reset text-decoration-none" href="{{ .Permalink }}"><nobr>Read more →</nobr></a>
        </div>
      </div>
    </div>
  {{ end }}
</div>

{{- end }}
