<footer class="text-center p-2 text-muted footer">
  {{ if site.Params.social.profiles }}
    {{ if ne site.Params.position.social.profiles "navbar" }}
    <div class="py-2 lead">
      {{ range $key, $url := site.Params.social.profiles }}
        {{ if eq $key "facebook"}}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-facebook" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "twitter" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-twitter" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "github" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-github" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "gitlab" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-gitlab" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "steam" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-steam" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "instagram" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-instagram" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "youtube" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-youtube" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "pinterest" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-pinterest" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "linkedin" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-linkedin" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "reddit" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-reddit" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "flickr" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-flickr" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "deviantart" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-deviantart" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "vk" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-vk" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "mastodon" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-mastodon" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "bandcamp" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-bandcamp" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "tumblr" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-tumblr" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "medium" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-medium" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "wikipedia" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-wikipedia-w" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ else if eq $key "telegram" }}
          <a class="ml-2" href="{{ $url }}"><span class="fab fa-telegram" aria-label="Join us on {{ $key | humanize | title }}"></span></a>
        {{ end }}
      {{ end }}
    </div>
    {{ end }}
  {{ end }}

  {{ if site.Params.meta.footerMessage -}}
    <div class="py-2 lead">
      {{ site.Params.meta.footerMessage }}
    </div>
  {{- end }}

  <div class="py-2 copyright">
    <small>Copyright &#169; {{ now.Format "2006" }} {{ default site.Title site.Params.meta.author }} {{- if site.Params.meta.contentLicense }} <b>&#183;</b> Content license: {{ site.Params.meta.contentLicense }} {{- end }} {{- if ne site.Params.meta.attribution "disable" }} <b>&#183;</b> Powered by <a class="font-weight-bold text-reset text-decoration-none" href="https://gohugo.io">Hugo</a> <b>&#183;</b> Theme <a class="font-weight-bold text-reset text-decoration-none" href="">Shadows</a> by <span class="softorage"><a class="font-weight-bold text-reset" href="https://softorage.com">Softorage</a></span>{{ end }}</small>
  </div>
</footer>
