{{ define "main" }}
<div class="container-fluid bg-clr2 text-center text-nav pb-3 pt-4 position-relative shadow-sm">
  <div style="height:3.5rem;"></div>
  <h1>404</h1>
  <p class="lead">Oops! The page you were looking for, could not be found.</p>
  </div>
</div>
  <div class="container bg-nav">
  <div class="my-4 h4">What may have caused this:</div>
      <ul>
        <li>The page may have been moved or deleted.</li>
        <li>You may have used an outdated or broken link.</li>
        <li>You may have typed address (URL) incorrectly.</li>
      </ul>
      <div class="my-4 h4">What can be done:</div>
      <ul>
        <li>You may try retyping the URL.</li>
        <li>You may head over to the <a href="{{ site.BaseURL }}">{{ default site.Title site.Params.brand.name }} home page</a>.</li>
        <li>If you want to tell us about broken links or send in your general comments about {{ site.BaseURL }}, contact us at <a href="mailto:contact@email.com">contact@email.com</a>, with details.</li>
      </ul>
      </div>
{{ end }}
